<h3>
  Detalhe do Contato
</h3>

<div class="row justify-content-start">
  <div class="col-9">

    <div class="form-group">
      <label for="name">Nome</label>
      <p id="name"><strong>{{contact?.name}}</strong></p>
    </div>

    <div class="form-group">
      <label for="telephone">Telefone</label>
      <p id="telephone"><strong>{{contact?.telephone}}</strong></p>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <p id="email"><strong>{{contact?.email}}</strong></p>
    </div>

    <div class="form-group">
      <label for="type">Tipo</label>
      <p id="type"><strong>{{contact?.type}}</strong></p>
    </div>

  </div>
</div>
